/*
/ www.splitsframework.com
/ By Bob Wade
/ Splits V 0.1
/ Copyright 2016 
/ MIT License
*/

/*BASE STYLES FROM MOBILE UP-SPLITS ARE ALL FULL WIDTH*/

.contain,
.full-width {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	clear:left;
}
.full-width {
	width:100%;
	max-width:100%;
	margin: 0;
	padding: 0;
}
.contain:after, .full-width:after {
	clear: both;
	display: table;
	content: "";
}
.split {
	width: 100%;
	float: left;
	box-sizing: border-box; 
}
.full-width.gutters .split {
	width:90%;
	margin-left:5%;
}

/*SPLITS GET THEIR NORMAL WIDTHS*/

@media (min-width: 550px) 	{
	.container 			{ width: 90%;	 }
	.gutters .split		{ margin-left:4%;}
	.gutters .split:first-child  { margin-left:0; }

/*WITHOUT GUTTERS*/

	.all-1\/6 .split,
	.\31 \/6.split         	{ width: 16.6666666666%; }
	.all-1\/4 .split,
	.\31 \/4.split     	{ width: 25%;            }
	.all-1\/3 .split,
	.\31 \/3.split        	{ width: 33.3333333333%; }
	.all-1\/2 .split,
	.\31 \/2.split          { width: 50%;            }
	.\32 \/3.split     	{ width: 66.6666666666%; }
	.\33 \/4.split		{ width: 75%;            }
	.\35 \/6.split    	{ width: 83.3333333333%; }
	.full.split          	{ width: 100%;           }

/*WITH GUTTERS*/

	.gutters.all-1\/6 .split,
	.gutters .\31 \/6.split	{ width: 13.3333333333%; }
	.gutters.all-1\/4 .split,
	.gutters .\31 \/4.split	{ width: 22%;            }
	.gutters.all-1\/3 .split,
	.gutters .\31 \/3.split	{ width: 30.6666666667%  }
	.gutters.all-1\/2 .split,
	.gutters .\31 \/2.split	{ width: 48%;            }
	.gutters .\32 \/3.split	{ width: 65.3333333333%; }
	.gutters .\33 \/4.split	{ width: 74%;            }
	.gutters .\35 \/6.split	{ width: 82.6666666666%; }
	.gutters .full.split		{ width: 100%; 
					  margin-left: 0; 	 }

/*OFFSET WITHOUT GUTTERS*/

	.off-1\/6.split	{ margin-left: 16.6666666666%;	}
	.off-1\/4.split	{ margin-left: 25%;		}
	.off-1\/3.split	{ margin-left: 33.3333333333%;	}
	.off-1\/2.split	{ margin-left: 50%;		}
	.off-2\/3.split	{ margin-left: 66.6666666666%;	}
	.off-3\/4.split	{ margin-left: 75%;		}
	.off-5\/6.split	{ margin-left: 83.3333333333%	}

/*OFFSET WITH GUTTERS*/

	.gutters .off-1\/6.split	{ margin-left: 17.3333333333%;	}
	.gutters .off-1\/4.split	{ margin-left: 26%;		}
	.gutters .off-1\/3.split	{ margin-left: 34.6666666667%;	}
	.gutters .off-1\/2.split	{ margin-left: 52%;		}
	.gutters .off-2\/3.split	{ margin-left: 69.3333333333%;	}
	.gutters .off-3\/4.split	{ margin-left: 78.0%;		}
	.gutters .off-5\/6.split	{ margin-left: 86.6666666666%;	}

/*
*PROGRESSIVE SCALING:
*/

/*ALL SPLITS BECOME HALVES*/

	.gutters.scale-1\/6 .split,
	.gutters.scale-1\/4 .split,
	.gutters.scale-1\/3 .split			{ width:48%;		}
	.scale-1\/6 .split,
	.scale-1\/4 .split,
	.scale-1\/3 .split				{ width: 50%;		}
	.gutters.scale-1\/6 .split:nth-child(2n+1),
	.gutters.scale-1\/4 .split:nth-child(2n+1),
	.gutters.scale-1\/3 .split:nth-child(2n+1)	{ margin-left: 0;	}
	.skip-1\/2.gutters  .split,    
   	.skip-1\/2 .split                          	{ width: 100%;		}
   	.skip-1\/2.gutters  .split:nth-child(2n)	{ margin-left: 0%;	}
}

/*IF SET AS THIRDS,QUARTERS OR SIXTHS, SPLITS BECOME THIRDS UNLESS SKIPPED*/

@media (min-width: 650px) {
	.gutters.scale-1\/6 .split,
	.gutters.scale-1\/4 .split,
	.gutters.scale-1\/3 .split			{ width: 30.6666666666% } 
	.scale-1\/6   .split,
	.scale-1\/4 .split,
	.scale-1\/3   .split				{ width: 33.3333333333%;}
	.gutters.scale-1\/6 .split:nth-child(2n+1),
	.gutters.scale-1\/4 .split:nth-child(2n+1),
	.gutters.scale-1\/3 .split:nth-child(2n+1)	{ margin-left: 4%;	}
	.gutters.scale-1\/6 .split:nth-child(3n+1),
	.gutters.scale-1\/4 .split:nth-child(3n+1),
	.gutters.scale-1\/3 .split:nth-child(3n+1)	{ margin-left: 0;	}
	.skip-1\/3.gutters  .split			{ width: 48%;		}
	.skip-1\/3 .split				{ width: 50%;		}
	.skip-1\/2.gutters  .split:nth-child(2n),
	.skip-1\/3.gutters  .split:nth-child(2n)	{ margin-left: 4%;	}
	.skip-1\/2.gutters  .split:nth-child(3n+1),
	.skip-1\/3.gutters  .split:nth-child(2n+1)	{ margin-left: 0;	}
}

/*IF SET AS QUARTERS OR SIXTHS, SPLITS BECOME QUARTERS UNLESS SKIPPED*/

@media (min-width: 750px) {
	.gutters.scale-1\/6 .split,
	.gutters.scale-1\/4 .split			{ width:22%;		} 
	.scale-1\/6   .split,
	.scale-1\/4 .split				{ width: 25%;		}
	.gutters.scale-1\/6 .split:nth-child(3n+1),
	.gutters.scale-1\/4 .split:nth-child(3n+1)	{ margin-left: 4%;	}
	.gutters.scale-1\/6 .split:nth-child(4n+1),
	.gutters.scale-1\/4 .split:nth-child(4n+1)	{ margin-left: 0;	}
	.skip-1\/4.gutters  .split			{ width: 30.6666666666%;}
	.skip-1\/4 .split                		{ width: 33.3333333333%;}
	.skip-1\/3.gutters  .split:nth-child(2n+1),
	.skip-1\/4.gutters  .split:nth-child(2n+1)	{ margin-left: 4%;	}
	.skip-1\/4.gutters  .split:nth-child(3n+1)	{ margin-left: 0;	}
	.skip-1\/3.gutters  .split:nth-child(4n-3)	{ margin-left: 0;	}
}

/*IF SET AS SIXTHS, SPLITS BECOME SIXTHS*/

@media (min-width: 850px) {
	.gutters.scale-1\/6 .split			{ width: 13.3333333333%;}
	.scale-1\/6 .split				{ width: 16.6666666666%;}
	.gutters.scale-1\/6 .split:nth-child(4n+1)	{ margin-left: 4%;	}
	.gutters.scale-1\/6 .split:nth-child(6n+1)	{ margin-left: 0;	}
	.skip-1\/4.gutters  .split:nth-child(2n+2)	{ margin-left: 4%;	}
}
